
.body {
  display: block;
}
.container {

  width: 100%;
}

.flex {
  display: flex;

}

.header {
  height: 64px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 32px;
  margin-left: 24px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  align-items: center;
  align-content: flex-end;
  justify-content:flex-end;
  display: flex;
  flex-wrap: wrap;
  height: 32px;
  margin-right: 8px;
}

.menu span {
  margin-right: 16px;
}

.grey-box {
  width: 100%;
  height: auto;
  display: inline-flex;
  background-color: lightgrey;
}

.table img {
  width: 60%;
  margin: 32px 24px;
  display: flex;
}

.info {
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: auto;
  align-content: space-around;
}

.white-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.reading img {
  width: 60%;
  margin: 32px 24px;
  display: flex;
}
