
.html {
  display: block;
  font-size: 32px;
  font-family: Arial;
}
.container {

  width: 100%;
}

.flex {
  display: flex;

}


.header {
  height: 64px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  height: 32px;
  margin-left: 24px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.header .logo #colmar {
  color: black;
  font-weight: bold;
  font-size: 30px
}

.header .logo #academy {
  color: darkgrey;
  font-weight: bold;
  margin-left: 8px;
  font-size: 30px;
}

.mobile-header  .logos{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobile-header span {
  display: flex;
  justify-content: space-around;
}




.menu {
  align-items: center;
  align-content: flex-end;
  justify-content:flex-end;
  display: flex;
  flex-wrap: wrap;
  height: 32px;
  margin-right: 8px;

}

.menu span {
  display: inline-flex;
  margin-right: 16px;
  align-items: center;
  align-content: flex-end;
  justify-content:flex-end;
  font-size: 1rem;


}

.menu span a:hover {
  font-weight: bold;
  color: Navy;

}

.menu span a:visited {
  color: darkred;
}
.menu span a:link {
  color: black;
}

.grey-box {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;

}


.grey-box .table {
  width: 60%;
  height: auto;
  margin: 32px 24px;
  display: flex;
  align-content: center;
  align-items: center;
}

.table img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: solid darkgrey 2px;

}

.grey-box .Info {


  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 40%;
  flex-wrap: wrap;
  text-align: center;

  margin-right: 24px;
}


.grey-box .Info h1 {

  text-align: center;
  margin: 10px 30px;

}


.grey-box .Info h3 {
  text-align: center;
    margin: 10px 30px;

}

.grey-box .Info .button {

  background-color: darkgrey;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 30px 30px;
  border-radius: 10px;


}
.Info .button:hover {
  color:white;
  background-color: navy;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.grey-box .Info .button p {
  color: white;
  margin: 8px 8px;


}

.white-box {
  width: 100%;
  height: auto;
  display: inline-flex;

}

.white-box .reading {
  width: 60%;
  height: auto;
  margin: 32px 0px 32px 24px;

}
.reading img {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  border: solid lightgrey 1px;

}

.reading h1, p {
  text-align: center;
}

#reference {
  text-align: left;
  font-size: 0.8rem;
  font-family: times;
  margin-left: 20px;
  margin-top: 32px;
  font-weight: 550;
}

.menu-links {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  justify-content: flex-start;
  margin: 32px 24px;
  align-items: flex-start;


}

.link {
  width: 100%;
  display: inline-flex;
  padding: 5px;
  border: lightgrey solid 2px;
  margin-bottom: 5px;
  align-items: flex-start;
  border-radius: 20px;
}
.link img {
  width: 35%;
  height: 25%;
  border-radius: 20px;

}

.link-info {
  width: 65%;
  height: 25%;
  margin: 12px 10px;
  justify-content:flex-start;
  display: flex;
  flex-direction: column;
  align-content: center;

}
.link-info h3, .link-info p {
  align-items: center;
  justify-content:flex-start;
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: left;
}
.link-info p a:hover {
  color: Navy;
  font-weight: bold;
}

a {
  color: DarkRed;
}
.grey-box-2{
  align-content:flex-start;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  background-color: lightgrey;
  background-size: cover;



}


.start-learning {
  text-align: center;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-subject {
  display: flex;
  flex-direction: row;
  margin-left: 72px;
  margin-right: 40px;
  margin-top: 32px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;

}

.mobile-subject {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  background-color: white;
}
.mob-subject-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: darkgrey;
  font-weight: 900;
  background-color: white;

  width: auto;

}
.mob-sub-link {
  background-color: lightgrey;
  margin-bottom: 8px;
  width: auto;
}

.mob-sub-link:hover {
  color: Navy;
  font-weight: bold;
}
.mob-sub-link h3 {
  padding: 16px 16px 24px 16px;
  width: auto;
}

.subject-links {
  display: inline-flex;
  flex-direction: row;

  justify-content: center;


  flex-wrap: wrap;


}



.sub-link {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 25%;
  background-color: white;
  justify-content: center;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 20px;
  border: solid darkgrey 1px;



}
.sub-link img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

}

.subject-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;

  text-align: center;
  padding-bottom: 24px;

}
.subject-info p {
justify-content: center;
display: flex;
flex-direction: column;
align-content: center;
text-align: center;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
padding-bottom: 12px;
}

 .subject-info h3 {


  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

#a {
  padding-bottom: 20px;
}

#c {
  padding-bottom: 16px;
}
.link-info h3, .link-info p {
  align-items: center;
  justify-content:flex-start;
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: left;
  padding-top: 5px;
  align-content: center;
}

.exhibit {
  width: 100%;
  display: flex;
  text-align: center;
}

.exhibit .thesis-exhibit {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
}


.main-exhibit {
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.exhibit-left {

  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 32px;
  margin-right: 24px;
  margin-bottom: 24px;
  width: 60%;
  align-items:center;
  justify-content: center;
  text-align: center;
}

.exhibit-left .video {


  justify-content: center;
  text-align: center;


}

video {
  border-radius: 20px;
  border: solid lightgrey 1px;
}


.info-left {
  width: 60%;
  justify-content: center;
}
.info-left p {
  margin-top: 8px;
}
.exhibit-right {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-top: 32px;
  width: 40%;
  align-items: flex-start;
  justify-content: flex-start;
}

.theses {
  display: flex;
  flex-direction: column;
  width: 100%;


}

.thesis-link {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  background-color: white;
  justify-content: flex-start;
  padding: 5px;
  border: lightgrey solid 2px;
  margin-bottom: 5px;
  border-radius: 20px;

}

.thesis-link img {
  width: 35%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
}



.thesis-info {
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 65%;
  text-align: left;
  padding-bottom: 24px;

  flex-wrap: wrap;

}
.thesis-info p {
justify-content: flex-start;
display: flex;
flex-direction: row;
align-content: center;
text-align: left;
padding-left: 16px;
flex-wrap: wrap;
}

.thesis-info h3 {

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content:flex-start;
  text-align: left;
  flex-wrap: wrap;
  padding-left: 16px;

}

footer {
  margin: 16px 24px;
  display: inline-flex;
  border-top: darkgrey 2px solid;
  padding: 16px;
  justify-content: space-between;
  width: 100%;
  color: darkgrey;
  align-items: center;
}

footer nav span {
  margin-left: 20px;
}

footer nav {
  text-align: center;
}

footer p {
  text-align: left;
  margin-right: 60px;
}

.icons {
  margin-right: 72px;
}
.icons i {
  color: darkgrey;
  margin-left: 20px;
}

.icons i:hover {
  color: darkred;
}

@media only screen and (min-width: 761px) {
  .mobile-header {display: none;}
  .mobile-subject {display: none;}
}

@media only screen and (max-width: 760px) {
  .body {justify-content: center;}
  .container {justify-content: center;}
  .menu {display: none;}
  .header .logo {display: none;}
  .header .menu {display: none;}
  .grey-box {flex-direction: column;
  width: auto;}
  .grey-box .table {margin: 0;
                    width: auto;}
  .table img {border-radius: 0px;
    border: none;}
  .grey-box .Info {margin-right: 0px;
  width: 100%;}
  .grey-box .Info h1{margin: 32px 16px;}
  .grey-box .Info h3{margin: 0px 16px;}
  .grey-box .Info .button {margin: 24px 16px 32px 16px;}
  .white-box {justify-content: center;}
  .reading {display: none;}
  .menu-links {width: auto;
    justify-content: center; align-items: center;
    margin: 16px 16px 22px 16px;}
  .link {display: flex;
  flex-direction: column;
  border: 0;
  text-align: center;
  justify-content: flex-start;
  padding: 0;}
  .link img {width: 100%;
  border-radius: 0;
justify-content: center;}
  .link-info {width: 100%;
  margin: 10px;
  }
  .link-info h3, .link-info p { padding-left: 16px;
  padding-right: 16px; text-align: center;}
  .main-subject {display: none;}
  .grey-box-2 {background-color: white;
  margin-bottom: 32px; border-top: 2px solid darkgrey;}

  .exhibit-right {display: none;}
  .info-left {display: none;
  }
  .exhibit-left {width: 100%;
  margin-left: 0;
margin-right: 0;}
  video {border-radius: 0;
  border: 0;}
  footer {margin: 0;}
  footer nav {display: none;}
  footer .icons {display: none;}
  footer p{text-align: center;
  margin-right: 0px;
justify-content: center;}}
